<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bamboo - Edit Your Profile</title>
    <meta name="description" content="Bamboo is store for fruits" />
    <meta name="keywords" content="fruits, bamboo, store, ecommerce">
    <meta name="theme-color" content="#3A7F0D">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/solid.css">
    <link rel="stylesheet" href="../../css/libs/brands.css">
    <link rel="stylesheet" href="../../css/libs/regular.css">
    <link rel="stylesheet" href="../../css/libs/fontawesome.css">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/select2.css">
    <link rel="stylesheet" href="../../css/libs/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>

    <!-- Loader -->
    <div
        class="page-loading position-fixed top-0 start-0 w-100 h-100 align-items-center justify-content-center flex-column gap-2 bg-white">
        <img src="../../assets/img/logo.png" class="load-img" alt="bamboo logo">
        <span class="load-text text-primary display-omd">Loading...</span>
    </div>



    <!-- Content -->
    <div class="wrap-fullpage">
        <!-- 
            * Main Header
            ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
            ** Navbar
            **** Logo 
            **** Links
            **** Search Favourite Cart Profile Languages
            ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
            ** Intro
         -->
        <header id="main-header">

            <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
                <div class="container">
                    <!-- Navbar Buttons -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../../assets/img/logo.png" alt="bamboo logo main" width="100">
                    </a>
                    <button class="navbar-toggler py-2 rounded-4 bg-primary border-0 ms-auto me-3" type="button"
                        data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars text-white"></i>
                    </button>

                    <!-- Settings Links (Favourite , profile , cart , search) -->
                    <div class="features-list-buttons list-inline order-lg-1 me-sm-3">
                        <!-- Search Input At Modal before the scripts tag -->
                        <a href="search.html" class="btn hv-bg-color rounded-4 list-inline-item btn-primary">
                            <span class="d-none d-xl-inline">Search</span>
                            <i class="fa fa-search ms-xl-1"></i>
                        </a>
                        <a href="favourite.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <i class="fa fa-heart "></i>
                        </a>
                        <a href="shopping-cart.html"
                            class="btn btn-primary rounded-4 list-inline-item position-relative">
                            <i class="fas fa-bag-shopping"></i>

                            <!-- Notifactions -->
                            <span
                                class="position-absolute top-0 start-100 translate-middle px-2 fw-bold badge rounded-circle bg-offline-color">
                                3
                            </span>
                        </a>


                        <!-- Form Signin / signup -->

                        <div class="dropdown list-inline-item">
                            <button class="dropdown-toggle w-100 h-100 hide-arrow btn btn-primary rounded-4 hv-bg-color"
                                data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                                type="button">
                                <i class="fa-solid fa-user"></i>
                            </button>


                            <div class="dropdown-menu dropdown-menu-end rounded-4 p-4" style="min-width: 360px;">
                                <!-- Forms Buttons -->
                                <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link rounded-4 active" id="pills-signin-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-signin" type="button"
                                            role="tab" aria-controls="pills-signin" aria-selected="true">Sign
                                            In</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link rounded-4" id="pills-signup-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-signup" type="button" role="tab"
                                            aria-controls="pills-signup" aria-selected="false">Sign Up</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- Sign in form -->
                                    <div class="tab-pane fade show active" id="pills-signin" role="tabpanel"
                                        aria-labelledby="pills-signin-tab">
                                        <form>
                                            <div class="mb-3">
                                                <label for="signin-email" class="form-label">Email</label>
                                                <input type="email"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signin-email" placeholder="please enter your Email">
                                            </div>
                                            <div>
                                                <label for="signin-password" class="form-label">Password</label>
                                                <input type="password"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signin-password" placeholder="please enter your Password">
                                            </div>

                                            <div class="mb-3">
                                                <a href="#"
                                                    class="text-info text-decoration-underline display-sm ms-1">Forget
                                                    your
                                                    password?</a>
                                            </div>
                                            <div class="text-center py-sm-5">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg px-5 disabled rounded-4">Sign
                                                    In</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Sign Up form -->
                                    <div class="tab-pane fade" id="pills-signup" role="tabpanel"
                                        aria-labelledby="pills-signup-tab">
                                        <form>
                                            <div class="mb-3">
                                                <label for="signup-email" class="form-label">Email</label>
                                                <input type="email"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-email" placeholder="please enter your Email">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-fullname" class="form-label">Fullname</label>
                                                <input type="text"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-fullname" placeholder="please enter your Fullname">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-phonenumber" class="form-label">Phone number</label>
                                                <input type="tel"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-phonenumber"
                                                    placeholder="please enter your Phone number">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-password" class="form-label">Password</label>
                                                <input type="password"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-password" placeholder="please enter your Password">
                                            </div>

                                            <div class="text-center py-sm-3">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg px-5 disabled rounded-4">Sign
                                                    Up</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- Language Button -->
                    <div class="language-menu dropdown order-lg-1">
                        <button
                            class="btn shadow-sm rounded-4 shadow-sm hide-arrow px-2 border border-light dropdown-toggle"
                            type="button" id="languageDropdown" data-bs-toggle="dropdown">
                            <img src="../../assets/img/langs-icons/en.png" width="25" alt="english language bamboo">
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end rounded-4" aria-labelledby="languageDropdown">
                            <li class="dropdown-item active">
                                <img class="me-2" src="../../assets/img/langs-icons/en.png" width="25"
                                    alt="english language bamboo">
                                <span class="align-middle">EN</span>
                            </li>
                            <li>
                                <a class="dropdown-item" href="../ar/index.html">
                                    <img class="me-2" src="../../assets/img/langs-icons/ar.png" width="25"
                                        alt="arabic language bamboo">
                                    <span class="align-middle">AR</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Links List  -->
                    <div class="collapse navbar-collapse pt-2 py-0-lg" id="mainNavbar">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-1 me-xlg-3">
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="about-us.html">About
                                    Us</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4"
                                    href="companies.html">Companies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="offers.html">offers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="contact-us.html">contact
                                    us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="profile-content-wrap editprofile-page container py-4">
            <div class="row gx-2 gy-4">

                <!-- 
                    My Profile (Profile Info & Features) 
                    ! Dont remove "profile-info-wrap" class becuase used at js
                -->
                <div class="col-lg-8">
                    <div class="profile-info-wrap">
                        <form>
                            <!-- Profile Info -->
                            <div class="p-3 p-md-4 rounded-4 bg-light mb-4">
                                <div class="row g-3">
                                    <div class="col">
                                        <div class="d-flex gap-3 imag-info-profile">
                                            <!-- Image profile -->
                                            <div class="flex-shrink-0 overflow-hidden rounded-4 image-profile">
                                                <img src="../../assets/img/profile.png" class="img-cover" alt="profile">

                                                <!-- Overflow -->
                                                <div class="overflow-btn">
                                                    <button class="btn text-white rounded-4 px-2"><i
                                                            class="fa-regular fa-image display-omd align-text-bottom"></i></button>
                                                </div>

                                                <!-- Hidden input for image -->
                                                <input type="file" accept="image/*" hidden class="d-none"
                                                    name="profileimage" id="profileimg">
                                            </div>
                                            <!-- Name & PHone & Email -->
                                            <div class="flex-grow-1 align-self-center">

                                                <div class="mb-2">
                                                    <input type="text" name="name" id="nameprofile"
                                                        class="form-control rounded-4" value="Hamdy Almuzeny">
                                                </div>

                                                <div class="row g-1">
                                                    <div class="col-5">
                                                        <div class="wrap-select position-relative">
                                                            <select name="phonekey" id="phonekey">
                                                                <option value="+972"
                                                                    data-imagesrc="../../assets/img/langs-icons/kuwait.png"
                                                                    selected>
                                                                    +972
                                                                </option>
                                                                <option value="+1"
                                                                    data-imagesrc="../../assets/img/langs-icons/en.png">
                                                                    +1
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="col">
                                                        <input type="tel" name="numberphone"
                                                            class="form-control rounded-4" value="595235592">
                                                    </div>
                                                </div>

                                                <div class="mt-2">
                                                    <input type="email" name="email" class="form-control rounded-4"
                                                        value="hebbahamddy3@gmail.com">
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-5 col-lg-3 col-md-3 text-md-end">
                                        <button type="submit" class="btn btn-secondary rounded-4">Save</button>
                                    </div>
                                </div>
                            </div>

                            <!-- Address , Favourites , Reviews -->
                            <div class="p-3 p-md-4 rounded-4 bg-light ">
                                <div class="d-flex justify-content-between gap-2 flex-wrap mb-4">
                                    <div>
                                        <span
                                            class="badge bg-primary display-omd fw-bold rounded-4 address-title">Addresses</span>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <button type="button" class="btn btn-secondary rounded-4 btn-lg"
                                            data-bs-toggle="modal" data-bs-target="#addNewAddress">Add new
                                            address</button>
                                    </div>
                                </div>
                                <!-- Addresses -->
                                <ul class="list-unstyled mb-0 addresses-wrap">
                                    <!-- Address One House -->
                                    <li class="mb-3 d-flex gap-1">
                                        <div class="bg-white rounded-4 p-3 flex-grow-1">
                                            <div class="row gy-2 g-0">
                                                <div class="col-12">
                                                    <p class="d-inline-block"><strong>Country: Palestine </strong>
                                                    </p>
                                                    <div class="float-end d-flex align-items-center">
                                                        <div class="me-2">
                                                            <input type="radio" class="btn-check" checked
                                                                name="favAddress" id="addressFAV1">
                                                            <label class="btn btn-sm rounded-4" for="addressFAV1"><i
                                                                    class="fas fa-star align-middle"></i></label>
                                                        </div>

                                                        <div>
                                                            <button class="hv-bg-color btn btn-primary btn-sm rounded-4"
                                                                data-bs-toggle="modal" data-bs-target="#editAddress"
                                                                type="button">
                                                                <i class="fas fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <p>Governorate: Gaza</p>
                                                    <p>Street: street</p>
                                                    <p>Home Number: 15585</p>
                                                </div>
                                                <div class="col-md">
                                                    <p>Area: Area1</p>
                                                    <p>Avenue: avenue1</p>
                                                </div>
                                                <div class="col-md">
                                                    <p>Block: block1</p>
                                                    <p>Housing type: House</p>
                                                </div>
                                                <div class="col-12">
                                                    <p class="mb-0">
                                                        <strong>Additional direction:</strong> Near Al Amal
                                                        Supermarket
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                    <!-- Address Two Building -->
                                    <li class="d-flex gap-1">
                                        <div class="bg-white rounded-4 p-3 flex-grow-1">
                                            <div class="row gy-2 g-0">
                                                <div class="col-12">
                                                    <p class="d-inline-block"><strong>Country: Palestine </strong>
                                                    </p>
                                                    <div class="float-end d-flex align-items-center">
                                                        <div class="me-2">
                                                            <input type="radio" class="btn-check" name="favAddress"
                                                                id="addressFAV2">
                                                            <label class="btn btn-sm rounded-4" for="addressFAV2"><i
                                                                    class="fas fa-star align-middle"></i></label>
                                                        </div>

                                                        <div>
                                                            <button class="hv-bg-color btn btn-primary btn-sm rounded-4"
                                                                data-bs-toggle="modal" data-bs-target="#editAddress"
                                                                type="button">
                                                                <i class="fas fa-pencil"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md">
                                                    <p>Governorate: Gaza</p>
                                                    <p>Street: street</p>
                                                    <p>Floor: floor5</p>
                                                </div>
                                                <div class="col-md">
                                                    <p>Area: Area1</p>
                                                    <p>Avenue: avenue1</p>
                                                    <p>Apartment: apartment</p>
                                                </div>
                                                <div class="col-md">
                                                    <p>Block: block1</p>
                                                    <p>Housing type: Building</p>
                                                </div>
                                                <div class="col-12">
                                                    <p class="mb-0">
                                                        <strong>Additional direction:</strong> Near Al Amal
                                                        Supermarket
                                                    </p>
                                                </div>
                                            </div>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- My Order status -->
                <aside class="col-lg-4">
                    <section
                        class="px-3 pt-3 px-md-4 pt-md-4 rounded-4  bg-light-primary position-relative myorder-wrap">
                        <h4 class="mb-3">My Orders:</h4>

                        <!-- Orders -->
                        <ul class="list-unstyled d-flex flex-column gap-3 orders-list">
                            <li class="order-item bg-white rounded-4 p-3">
                                <!-- Order Head -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-primary display-omd rounded-4 px-3">Complete</span>
                                    <a href="#"
                                        class="text-decoration-underline text-black flex-shrink-0 display-md">Need
                                        help?</a>
                                </div>
                                <!-- Order Number -->
                                <div class="my-3">
                                    <small class="fw-light">Order number:451258</small>
                                </div>

                                <!-- Order Footer -->
                                <div class="d-flex justify-content-between">
                                    <div class="overflow-hidden">
                                        <h6 class="display-omd text-truncate">Greens</h6>
                                        <a href="#" class="text-black text-decoration-underline display-md">View
                                            invoice</a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <strong class="display-omd">145 KD</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="order-item bg-white rounded-4 p-3">
                                <!-- Order Head -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-primary display-omd rounded-4 px-3">Complete</span>
                                    <a href="#"
                                        class="text-decoration-underline text-black flex-shrink-0 display-md">Need
                                        help?</a>
                                </div>
                                <!-- Order Number -->
                                <div class="my-3">
                                    <small class="fw-light">Order number:451258</small>
                                </div>

                                <!-- Order Footer -->
                                <div class="d-flex justify-content-between">
                                    <div class="overflow-hidden">
                                        <h6 class="display-omd text-truncate">Greens</h6>
                                        <a href="#" class="text-black text-decoration-underline display-md">View
                                            invoice</a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <strong class="display-omd">145 KD</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="order-item bg-white rounded-4 p-3">
                                <!-- Order Head -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-light-gray display-omd rounded-4 px-3">Canceled</span>
                                    <a href="#"
                                        class="text-decoration-underline text-black flex-shrink-0 display-md">Need
                                        help?</a>
                                </div>
                                <!-- Order Number -->
                                <div class="my-3">
                                    <small class="fw-light">Order number:451258</small>
                                </div>

                                <!-- Order Footer -->
                                <div class="d-flex justify-content-between">
                                    <div class="overflow-hidden">
                                        <h6 class="display-omd text-truncate">Greens</h6>
                                        <a href="#" class="text-black text-decoration-underline display-md">View
                                            invoice</a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <strong class="display-omd">145 KD</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="order-item bg-white rounded-4 p-3">
                                <!-- Order Head -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-primary display-omd rounded-4 px-3">Complete</span>
                                    <a href="#"
                                        class="text-decoration-underline text-black flex-shrink-0 display-md">Need
                                        help?</a>
                                </div>
                                <!-- Order Number -->
                                <div class="my-3">
                                    <small class="fw-light">Order number:451258</small>
                                </div>

                                <!-- Order Footer -->
                                <div class="d-flex justify-content-between">
                                    <div class="overflow-hidden">
                                        <h6 class="display-omd text-truncate">Greens</h6>
                                        <a href="#" class="text-black text-decoration-underline display-md">View
                                            invoice</a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <strong class="display-omd">145 KD</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="order-item bg-white rounded-4 p-3">
                                <!-- Order Head -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-light-gray display-omd rounded-4 px-3">Canceled</span>
                                    <a href="#"
                                        class="text-decoration-underline text-black flex-shrink-0 display-md">Need
                                        help?</a>
                                </div>
                                <!-- Order Number -->
                                <div class="my-3">
                                    <small class="fw-light">Order number:451258</small>
                                </div>

                                <!-- Order Footer -->
                                <div class="d-flex justify-content-between">
                                    <div class="overflow-hidden">
                                        <h6 class="display-omd text-truncate">Greens</h6>
                                        <a href="#" class="text-black text-decoration-underline display-md">View
                                            invoice</a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <strong class="display-omd">145 KD</strong>
                                    </div>
                                </div>
                            </li>
                            <li class="order-item bg-white rounded-4 p-3">
                                <!-- Order Head -->
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="badge bg-primary display-omd rounded-4 px-3">Complete</span>
                                    <a href="#"
                                        class="text-decoration-underline text-black flex-shrink-0 display-md">Need
                                        help?</a>
                                </div>
                                <!-- Order Number -->
                                <div class="my-3">
                                    <small class="fw-light">Order number:451258</small>
                                </div>

                                <!-- Order Footer -->
                                <div class="d-flex justify-content-between">
                                    <div class="overflow-hidden">
                                        <h6 class="display-omd text-truncate">Greens</h6>
                                        <a href="#" class="text-black text-decoration-underline display-md">View
                                            invoice</a>
                                    </div>
                                    <div class="flex-shrink-0">
                                        <strong class="display-omd">145 KD</strong>
                                    </div>
                                </div>
                            </li>
                        </ul>


                        <!-- See More Arrow -->
                        <div class="position-absolute bottom-0 w-100 end-0 seemore-wrap">
                            <button class="btn btn-secondary rounded-4 mb-3">
                                <i class="fas fa-long-arrow-down"></i>
                            </button>
                        </div>
                    </section>
                </aside>
            </div>
        </main>

    </div>

    <!-- Footer -->
    <footer class="pt-5">
        <!-- upper -->
        <div class="container">
            <div class="row g-4 pb-5">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <a href="index.html">
                        <img src="../../assets/img/logo.png" width="130" alt="bamboo logo">
                    </a>
                    <p class="my-4 lead display-omd">
                        We care about the smallest details and components because we strive to achieve the perfect
                        balance for every human being "body and soul"
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="../../assets/img/social/black-instagram.png" width="25"
                                    alt="bamboo instagram">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="../../assets/img/social/whatsapp.png" width="25" alt="bamboo whatsapp">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 offset-xl-1 col-md-6">
                    <ul class="nav flex-column footer-links">
                        <li class="nav-item">
                            <a class="nav-link text-capitalize" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="about-us.html">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="companies.html">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="products.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="contact-us.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="join-us.html">Join Us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-12">
                    <section>
                        <h5 class="mb-4">Send message for bamboo</h5>
                        <form>
                            <div class="mb-2">
                                <input type="text" name="email" class="form-control rounded-4 form-control-lg"
                                    placeholder="Email">
                            </div>
                            <div class="d-flex flex-column flex-sm-row gap-3">
                                <textarea name="message" rows="3" class="form-control rounded-4 form-control-lg"
                                    style="resize: none;" placeholder="Message"></textarea>
                                <button type="submit"
                                    class="btn btn-primary display-omd flex-shrink-0 rounded-4 px-5">Send</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <!-- down -->
        <div class="bg-secondary text-white py-2 text-center text-md-start mb-5 mb-sm-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 display-sm">
                            Copyright © 2010-2022 <strong>Bamboo Company</strong> S.L. All rights reserved.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end">
                            <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-end">
                                <a href="tel:+9712589632589" class="me-sm-2 text-white display-sm">+971
                                    258-963-2589</a>
                                <a href="mailto:bamboo@gmail.com"
                                    class="text-decoration-underline text-white display-sm">bamboo@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- Add new address modal -->
    <!-- Modal -->
    <div class="modal fade" id="addNewAddress" tabindex="-1" aria-labelledby="addNewAddressLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-4 border-0">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="addNewAddressLabel">Add New Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body py-0">
                        <div class="mb-3 wrap-input position-relative">
                            <label for="newcountryLabel" class="form-label">Country</label>

                            <select class="form-select custom-select" id="newcountryLabel" name="newcountry">
                                <option value="palastine" selected>Palastine</option>
                                <option value="egypt">Egypt</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="newgovernorateLabel" class="form-label">Governorate</label>

                            <select class="form-select custom-select" name="newgovernorate" id="newgovernorateLabel">
                                <option value="gaza" selected>Gaza</option>
                                <option value="qods">Qods</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="newareaLabel" class="form-label">Area</label>
                            <select class="form-select custom-select " name="newarea" id="newareaLabel">
                                <option value="area1" selected>Area 1</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="newblockLabel" class="form-label">Block</label>
                            <input type="text" name="newblock" placeholder="EX: block1" id="newblockLabel"
                                class="form-control rounded-4">
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="newstreetLabel" class="form-label">Street</label>
                            <input type="text" name="newstreet" placeholder="EX: street" id="newstreetLabel"
                                class="form-control rounded-4">
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="newavenueLabel" class="form-label">Avenue</label>
                            <input type="text" name="newavenue" id="newavenueLabel" placeholder="EX: avenue"
                                class="form-control rounded-4">
                        </div>

                        <div class="mb-3 wrap-input position-relative address-type-wrap">
                            <label for="newaddressTypeLabel" class="form-label">Address Type</label>
                            <select class="form-select custom-select" name="newaddressType" id="newaddressTypeLabel">
                                <!-- Dont change value becuse I used it in javascript -->
                                <option value="house">House</option>
                                <option value="apartment">Apartment</option>
                                <option value="office">Office</option>
                            </select>
                        </div>

                        <!-- This div, innerHTML comes from javascript ! dont change class name -->
                        <div class="toggled-inputs"></div>

                        <div class="mb-3 wrap-input position-relative">
                            <label for="newaddationalDircetionLabel" class="form-label">Additional Direction</label>
                            <input type="text" name="newaddationalDircetion" id="newaddationalDircetionLabel"
                                class="form-control rounded-4" placeholder="EX: Near Al Amal Supermarket">
                        </div>
                    </div>


                    <!-- Submit Button -->

                    <div class="modal-footer border-top-0 justify-content-center">
                        <button type="submit" class="btn btn-primary rounded-4 px-4">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <!-- Update or Edit The selected address -->
    <!-- Modal -->
    <div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="editAddressLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-4 border-0">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="editAddressLabel">Edit Address</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body py-0">
                        <div class="mb-3 wrap-input position-relative">
                            <label for="countryLabel" class="form-label">Country</label>

                            <select class="form-select custom-select" id="countryLabel" name="country">
                                <option value="palastine" selected>Palastine</option>
                                <option value="egypt">Egypt</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="governorateLabel" class="form-label">Governorate</label>

                            <select class="form-select custom-select " name="governorate" id="governorateLabel">
                                <option value="gaza" selected>Gaza</option>
                                <option value="qods">Qods</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="areaLabel" class="form-label">Area</label>
                            <select class="form-select custom-select " name="area" id="areaLabel">
                                <option value="area1" selected>Area 1</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="blockLabel" class="form-label">Block</label>
                            <input type="text" name="block" id="blockLabel" class="form-control rounded-4"
                                value="Block1">
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="streetLabel" class="form-label">Street</label>
                            <input type="text" name="street" id="streetLabel" class="form-control rounded-4"
                                value="street1">
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="avenueLabel" class="form-label">Avenue</label>
                            <input type="text" name="avenue" id="avenueLabel" class="form-control rounded-4"
                                value="avenue1">
                        </div>

                        <div class="mb-3 wrap-input position-relative address-type-wrap">
                            <label for="addressTypeLabel" class="form-label">Address Type</label>
                            <select class="form-select custom-select" name="addressType" id="addressTypeLabel">
                                <!-- Dont change value becuse I used it in javascript -->
                                <option value="house">House</option>
                                <option value="apartment">Apartment</option>
                                <option value="office">Office</option>
                            </select>
                        </div>

                        <!-- This div, innerHTML comes from javascript ! dont change class name -->
                        <div class="toggled-inputs"></div>

                        <div class="mb-3 wrap-input position-relative">
                            <label for="addationalDircetionLabel" class="form-label">Additional Direction</label>
                            <input type="text" name="addationalDircetion" id="addationalDircetionLabel"
                                class="form-control rounded-4" value="Near Al Amal Supermarket">
                        </div>
                    </div>


                    <!-- Submit Button -->

                    <div class="modal-footer border-top-0 justify-content-center">
                        <button type="submit" class="btn btn-primary rounded-4 px-4">Save</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <!-- Scripts -->
    <!-- !Note: Bootstrap doesnt depend on jquery -->
    <script src="../../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../../js/libs/select2.min.js"></script>
    <script src="../../js/libs/jquery.ddslick.min.js"></script>
    <script src="../../js/app.js"></script>
</body>

</html>
