<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bamboo - الحساب</title>
    <meta name="description" content="Bamboo متجر لبيع الخضروات والفواكهه" />
    <meta name="keywords" content="fruits, bamboo, store, ecommerce, فواكهه , خضروات, متجر , ستور , منتجات">
    <meta name="theme-color" content="#3A7F0D">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/solid.css">
    <link rel="stylesheet" href="../../css/libs/brands.css">
    <link rel="stylesheet" href="../../css/libs/regular.css">
    <link rel="stylesheet" href="../../css/libs/fontawesome.css">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/bootstrap-rtl.css">
    <link rel="stylesheet" href="../../css/style-rtl.css">
</head>

<body>

    <!-- Loader -->
    <div
        class="page-loading position-fixed top-0 start-0 w-100 h-100 align-items-center justify-content-center flex-column gap-2 bg-white">
        <img src="../../assets/img/logo.png" class="load-img" alt="bamboo logo">
        <span class="load-text text-primary display-omd">جارى التحميل...</span>
    </div>



    <!-- Content -->
    <div class="wrap-fullpage">
        <!-- 
            * Main Header
            ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
            ** Navbar
            **** Logo 
            **** Links
            **** Search Favourite Cart Profile Languages
            ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
            ** Intro
         -->
        <header id="main-header">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
                <div class="container">
                    <!-- Navbar Buttons -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../../assets/img/logo.png" alt="bamboo logo main" width="100">
                    </a>
                    <button class="navbar-toggler py-2 rounded-4 bg-primary border-0 ms-auto me-3" type="button"
                        data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars text-white"></i>
                    </button>

                    <!-- Settings Links (Favourite , profile , cart , search) -->
                    <div class="features-list-buttons list-inline order-lg-1 me-sm-3">
                        <!-- Search Input At Modal before the scripts tag -->
                        <a href="search.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <span class="d-none d-xl-inline">بحث</span>
                            <i class="fa fa-search ms-xl-1"></i>
                        </a>
                        <a href="favourite.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <i class="fa fa-heart "></i>
                        </a>
                        <a href="shopping-cart.html"
                            class="btn hv-bg-color btn-primary rounded-4 list-inline-item position-relative">
                            <i class="fas fa-bag-shopping"></i>

                            <!-- Notifactions -->
                            <span
                                class="position-absolute top-0 start-100 translate-middle px-2 fw-bold badge rounded-circle bg-offline-color">
                                3
                            </span>
                        </a>

                        <!-- IF User logged in -->
                        <!-- <a href="profile.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <i class="fa fa-user "></i>
                        </a> -->


                        <!-- Form Signin / signup -->
                        <div class="dropdown list-inline-item">
                            <button class="dropdown-toggle w-100 h-100 hide-arrow btn btn-primary rounded-4 hv-bg-color"
                                data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                                type="button">
                                <i class="fa-solid fa-user"></i>
                            </button>


                            <div class="dropdown-menu dropdown-menu-end rounded-4 p-4" style="min-width: 360px;">
                                <!-- Forms Buttons -->
                                <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link rounded-4 active" id="pills-signin-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-signin" type="button"
                                            role="tab" aria-controls="pills-signin" aria-selected="true">تسجيل
                                            الدخول</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link rounded-4" id="pills-signup-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-signup" type="button" role="tab"
                                            aria-controls="pills-signup" aria-selected="false">حساب جديد</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- Sign in form -->
                                    <div class="tab-pane fade show active" id="pills-signin" role="tabpanel"
                                        aria-labelledby="pills-signin-tab">
                                        <form>
                                            <div class="mb-3">
                                                <label for="signin-email" class="form-label">البريد الالكتروني</label>
                                                <input type="email"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signin-email" placeholder="ادخل بريدك الالكتروني">
                                            </div>
                                            <div>
                                                <label for="signin-password" class="form-label">كلمة المرور</label>
                                                <input type="password"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signin-password" placeholder="ادخل كلمة المرور">
                                            </div>

                                            <div class="mb-3">
                                                <a href="#"
                                                    class="text-info text-decoration-underline display-sm ms-1">هل نسيت
                                                    كلمة المرور ؟</a>
                                            </div>
                                            <div class="text-center py-sm-5">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg px-5 disabled rounded-4">تسجيل
                                                    الدخول</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Sign Up form -->
                                    <div class="tab-pane fade" id="pills-signup" role="tabpanel"
                                        aria-labelledby="pills-signup-tab">
                                        <form>
                                            <div class="mb-3">
                                                <label for="signup-email" class="form-label">البريد الالكتروني</label>
                                                <input type="email"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-email" placeholder="ادخل بريدك الالكتروني">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-fullname" class="form-label">الاسم بالكامل</label>
                                                <input type="text"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-fullname" placeholder="ادخل اسمك بالكامل">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-phonenumber" class="form-label">رقم الجوال</label>
                                                <input type="tel"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-phonenumber" placeholder="ادخل رقمك الجوال">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-password" class="form-label">كلمة المرور</label>
                                                <input type="password"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-password" placeholder="ادخل كلمة المرور">
                                            </div>

                                            <div class="text-center py-sm-3">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg px-5 disabled rounded-4">انشئ
                                                    الحساب</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- Language Button -->
                    <div class="language-menu dropdown order-lg-1">
                        <button
                            class="btn shadow-sm rounded-4 shadow-sm hide-arrow px-2 border border-light dropdown-toggle"
                            type="button" id="languageDropdown" data-bs-toggle="dropdown">
                            <img src="../../assets/img/langs-icons/ar.png" width="25"
                                alt="arabic العربيةاللغة language bamboo">
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end rounded-4" aria-labelledby="languageDropdown">
                            <li class="dropdown-item active">
                                <img class="me-2" src="../../assets/img/langs-icons/ar.png" width="25"
                                    alt="english language bamboo">
                                <span class="align-middle">AR</span>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../en/profile-noitems.html">
                                    <img class="me-2" src="../../assets/img/langs-icons/en.png" width="25"
                                        alt="arabic language bamboo">
                                    <span class="align-middle">EN</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Links List  -->
                    <div class="collapse navbar-collapse pt-2 py-0-lg" id="mainNavbar">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-1 me-xlg-3">
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="index.html">الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="about-us.html">من نحن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4"
                                    href="companies.html">الشركات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="offers.html">العروض</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="contact-us.html">تواصل
                                    معنا</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="profile-content-wrap container py-4">
            <div class="row gx-2 gy-4">

                <!-- 
                    My Profile (Profile Info & Features) 
                    ! Dont remove "profile-info-wrap" class becuase used at js
                -->

                <div class="col-lg-8">
                    <div class="profile-info-wrap">
                        <!-- Profile Info -->
                        <div class="p-3 p-md-4 rounded-4 bg-light mb-4">
                            <div class="row g-3">
                                <div class="col">
                                    <div class="d-flex gap-3 imag-info-profile">
                                        <!-- Image profile -->
                                        <div class="flex-shrink-0 image-profile bg-light-primary px-4 py-4 rounded-4">
                                            <i class="fas fa-user display-1 text-light-gray"></i>
                                        </div>
                                        <!-- Name & PHone & Email -->
                                        <article class="flex-grow-1 align-self-center">
                                            <h4>Hamdy Almuzeny</h4>
                                            <p>
                                                <img src="../../assets/img/langs-icons/kuwait.png" width="23"
                                                    class="me-1" alt="kuwait">
                                                <span class="align-middle">+972 595235592</span>
                                            </p>

                                            <p class="mb-0">
                                                hebbahamddy3@gmail.com
                                            </p>
                                        </article>
                                    </div>
                                </div>
                                <div class="col-md text-md-end">
                                    <a href="change-password.html"
                                        class="ch-password btn btn-primary rounded-4 py-2 hv-bg-color px-3">
                                        تغيير كلمة المرور
                                        <i class="fas fa-lock ms-1"></i>
                                    </a>
                                    <a href="edit-profile.html" class="btn btn-primary rounded-4 hv-bg-color py-2">
                                        <i class="fas fa-pencil display-omd align-middle"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Address , Favourites , Reviews -->
                        <div class="p-3 p-md-4 rounded-4 bg-light ">
                            <ul class="nav nav-pills mb-4 gap-2 features-list-buttons" role="tablist">
                                <!-- Address Button Tab -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-4 display-omd px-4 active" id="addresses-tab"
                                        data-bs-toggle="pill" data-bs-target="#addresses" type="button"
                                        role="tab">العنوان</button>
                                </li>
                                <!-- Favorite Button Tab -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-4 display-omd px-4" id="favorites-tab"
                                        data-bs-toggle="pill" data-bs-target="#favorites" type="button"
                                        role="tab">المفضلة</button>
                                </li>
                                <!-- Reviews Button Tab -->
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link rounded-4 display-omd px-4" id="reviews-tab"
                                        data-bs-toggle="pill" data-bs-target="#reviews" type="button"
                                        role="tab">التقييمات</button>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <!-- Address Tab -->
                                <div class="tab-pane fade show active" id="addresses" role="tabpanel">
                                    <!-- No Items -->
                                    <div class="text-center my-5 py-5">
                                        <span>لا يوجد عنوان بعد</span>
                                    </div>
                                </div>
                                <!-- Favorites Tab -->
                                <div class="tab-pane fade" id="favorites" role="tabpanel">
                                    <!-- Favorite Products -->
                                    <section class="mb-4">
                                        <h6 class="display-omd">منتجات</h6>
                                        <!-- No Items -->
                                        <div class="text-center py-5">
                                            <span>لا يوجد منتجات مفضلة بعد</span>
                                        </div>
                                    </section>
                                    <!-- Favorite Companies -->
                                    <section>
                                        <h6 class="display-omd">شركات</h6>
                                        <!-- No Items -->
                                        <div class="text-center py-5">
                                            <span>لا يوجد شركات مفضلة بعد</span>
                                        </div>
                                    </section>

                                </div>
                                <!-- Reviews Tab -->
                                <div class="tab-pane fade" id="reviews" role="tabpanel">
                                    <!-- No Items -->
                                    <div class="text-center my-5 py-5">
                                        <span>لا يوجد تقييمات بعد</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- My Order status -->
                <aside class="col-lg-4">
                    <section
                        class="px-3 pt-3 px-md-4 pt-md-4 rounded-4  bg-light-primary position-relative myorder-wrap">
                        <h4 class="mb-3">طلباتي:</h4>
                        <!-- No Items -->
                        <div class="text-center my-5 py-5">
                            <span>لا يوجد طلبات بعد</span>
                        </div>
                    </section>
                </aside>
            </div>
        </main>

    </div>

    <!-- Footer -->
    <footer class="pt-5">
        <!-- upper -->
        <div class="container">
            <div class="row g-4 pb-5">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <a href="index.html">
                        <img src="../../assets/img/logo.png" width="130" alt="bamboo logo">
                    </a>
                    <p class="my-4 display-omd">
                        نهتم بأدق التفاصيل والمكونات لأننا نسعى أن نحقق التوازن المثالي لكل إنسان " جسدًا وروحًا "
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="../../assets/img/social/black-instagram.png" width="25"
                                    alt="bamboo instagram">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="../../assets/img/social/whatsapp.png" width="25" alt="bamboo whatsapp">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 offset-xl-1 col-md-6">
                    <ul class="nav flex-column footer-links">
                        <li class="nav-item">
                            <a class="nav-link text-capitalize" href="index.html">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="about-us.html">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="companies.html">الشركات</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="contact-us.html">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="join-us.html">انضم لنا</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-12">
                    <section>
                        <h5 class="mb-4">ارسل رساله الى Bamboo</h5>
                        <form>
                            <div class="mb-2">
                                <input type="text" name="email" class="form-control rounded-4 form-control-lg"
                                    placeholder="البريد الالكتروني">
                            </div>
                            <div class="d-flex flex-column flex-sm-row gap-3">
                                <textarea name="message" rows="3" class="form-control rounded-4 form-control-lg"
                                    style="resize: none;" placeholder="الرساله"></textarea>
                                <button type="submit"
                                    class="btn btn-primary display-omd flex-shrink-0 rounded-4 px-5">ارسل</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <!-- down -->
        <div class="bg-secondary text-white py-2 text-center text-md-start mb-5 mb-sm-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 display-sm">
                            جميع الحقوق محفوظة &copy; 2010-2022 الى شركه <strong>Bamboo</strong> S.L.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end">
                            <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-end">
                                <a href="tel:+9712589632589" class="me-sm-2 text-white display-sm" dir="ltr">+971
                                    258-963-2589</a>
                                <a href="mailto:bamboo@gmail.com"
                                    class="text-decoration-underline text-white display-sm">bamboo@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- Scripts -->
    <!-- !Note: Bootstrap doesnt depend on jquery -->
    <script src="../../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../../js/app.js"></script>
</body>

</html>
