<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bamboo - اختر عنوان</title>
    <meta name="description" content="Bamboo متجر لبيع الخضروات والفواكهه" />
    <meta name="keywords" content="fruits, bamboo, store, ecommerce, فواكهه , خضروات, متجر , ستور , منتجات">
    <meta name="theme-color" content="#3A7F0D">
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/solid.css">
    <link rel="stylesheet" href="../../css/libs/brands.css">
    <link rel="stylesheet" href="../../css/libs/regular.css">
    <link rel="stylesheet" href="../../css/libs/fontawesome.css">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../../css/libs/select2.css">
    <link rel="stylesheet" href="../../css/libs/bootstrap-rtl.css">
    <link rel="stylesheet" href="../../css/style-rtl.css">
</head>

<body>
    <!-- Loader -->
    <div
        class="page-loading position-fixed top-0 start-0 w-100 h-100 align-items-center justify-content-center flex-column gap-2 bg-white">
        <img src="../../assets/img/logo.png" class="load-img" alt="bamboo logo">
        <span class="load-text text-primary display-omd">جارى التحميل...</span>
    </div>



    <!-- Content -->
    <div class="wrap-fullpage">
        <!-- 
            * Main Header
            ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
            ** Navbar
            **** Logo 
            **** Links
            **** Search Favourite Cart Profile Languages
            ـــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
            ** Intro
         -->
        <header id="main-header">
            <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white shadow-sm">
                <div class="container">
                    <!-- Navbar Buttons -->
                    <a href="index.html" class="navbar-brand">
                        <img src="../../assets/img/logo.png" alt="bamboo logo main" width="100">
                    </a>
                    <button class="navbar-toggler py-2 rounded-4 bg-primary border-0 ms-auto me-3" type="button"
                        data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars text-white"></i>
                    </button>

                    <!-- Settings Links (Favourite , profile , cart , search) -->
                    <div class="features-list-buttons list-inline order-lg-1 me-sm-3">
                        <!-- Search Input At Modal before the scripts tag -->
                        <a href="search.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <span class="d-none d-xl-inline">بحث</span>
                            <i class="fa fa-search ms-xl-1"></i>
                        </a>
                        <a href="favourite.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <i class="fa fa-heart "></i>
                        </a>
                        <a href="shopping-cart.html"
                            class="btn  btn-secondary rounded-4 list-inline-item position-relative">
                            <i class="fas fa-bag-shopping"></i>

                            <!-- Notifactions -->
                            <span
                                class="position-absolute top-0 start-100 translate-middle px-2 fw-bold badge rounded-circle bg-offline-color">
                                3
                            </span>
                        </a>

                        <!-- IF User logged in -->
                        <!-- <a href="profile.html" class="btn btn-primary hv-bg-color rounded-4 list-inline-item">
                            <i class="fa fa-user "></i>
                        </a> -->


                        <!-- Form Signin / signup -->
                        <div class="dropdown list-inline-item">
                            <button class="dropdown-toggle w-100 h-100 hide-arrow btn btn-primary rounded-4 hv-bg-color"
                                data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown"
                                type="button">
                                <i class="fa-solid fa-user"></i>
                            </button>


                            <div class="dropdown-menu dropdown-menu-end rounded-4 p-4" style="min-width: 360px;">
                                <!-- Forms Buttons -->
                                <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link rounded-4 active" id="pills-signin-tab"
                                            data-bs-toggle="pill" data-bs-target="#pills-signin" type="button"
                                            role="tab" aria-controls="pills-signin" aria-selected="true">تسجيل
                                            الدخول</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link rounded-4" id="pills-signup-tab" data-bs-toggle="pill"
                                            data-bs-target="#pills-signup" type="button" role="tab"
                                            aria-controls="pills-signup" aria-selected="false">حساب جديد</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="pills-tabContent">
                                    <!-- Sign in form -->
                                    <div class="tab-pane fade show active" id="pills-signin" role="tabpanel"
                                        aria-labelledby="pills-signin-tab">
                                        <form>
                                            <div class="mb-3">
                                                <label for="signin-email" class="form-label">البريد الالكتروني</label>
                                                <input type="email"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signin-email" placeholder="ادخل بريدك الالكتروني">
                                            </div>
                                            <div>
                                                <label for="signin-password" class="form-label">كلمة المرور</label>
                                                <input type="password"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signin-password" placeholder="ادخل كلمة المرور">
                                            </div>

                                            <div class="mb-3">
                                                <a href="#"
                                                    class="text-info text-decoration-underline display-sm ms-1">هل نسيت
                                                    كلمة المرور ؟</a>
                                            </div>
                                            <div class="text-center py-sm-5">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg px-5 disabled rounded-4">تسجيل
                                                    الدخول</button>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- Sign Up form -->
                                    <div class="tab-pane fade" id="pills-signup" role="tabpanel"
                                        aria-labelledby="pills-signup-tab">
                                        <form>
                                            <div class="mb-3">
                                                <label for="signup-email" class="form-label">البريد الالكتروني</label>
                                                <input type="email"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-email" placeholder="ادخل بريدك الالكتروني">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-fullname" class="form-label">الاسم بالكامل</label>
                                                <input type="text"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-fullname" placeholder="ادخل اسمك بالكامل">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-phonenumber" class="form-label">رقم الجوال</label>
                                                <input type="tel"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-phonenumber" placeholder="ادخل رقمك الجوال">
                                            </div>
                                            <div class="mb-3">
                                                <label for="signup-password" class="form-label">كلمة المرور</label>
                                                <input type="password"
                                                    class="form-control rounded-4 border-primary shadow-lg"
                                                    id="signup-password" placeholder="ادخل كلمة المرور">
                                            </div>

                                            <div class="text-center py-sm-3">
                                                <button type="submit"
                                                    class="btn btn-primary btn-lg px-5 disabled rounded-4">انشئ
                                                    الحساب</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <!-- Language Button -->
                    <div class="language-menu dropdown order-lg-1">
                        <button
                            class="btn shadow-sm rounded-4 shadow-sm hide-arrow px-2 border border-light dropdown-toggle"
                            type="button" id="languageDropdown" data-bs-toggle="dropdown">
                            <img src="../../assets/img/langs-icons/ar.png" width="25"
                                alt="arabic العربيةاللغة language bamboo">
                        </button>

                        <ul class="dropdown-menu dropdown-menu-end rounded-4" aria-labelledby="languageDropdown">
                            <li class="dropdown-item active">
                                <img class="me-2" src="../../assets/img/langs-icons/ar.png" width="25"
                                    alt="english language bamboo">
                                <span class="align-middle">AR</span>
                            </li>

                            <li>
                                <a class="dropdown-item" href="../en/select-address.html">
                                    <img class="me-2" src="../../assets/img/langs-icons/en.png" width="25"
                                        alt="arabic language bamboo">
                                    <span class="align-middle">EN</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Links List  -->
                    <div class="collapse navbar-collapse pt-2 py-0-lg" id="mainNavbar">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 me-lg-1 me-xlg-3">
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="index.html">الرئيسية</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="about-us.html">من نحن</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4"
                                    href="companies.html">الشركات</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="offers.html">العروض</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-uppercase px-2 px-lg-3 px-xxl-4" href="contact-us.html">تواصل
                                    معنا</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <!-- 
            * Select Address after shopping cart page Content
            ** Progress steps
            ** Title and add new address link
            ** table of addresses with module for update the address

            ! Note:
            *** when click on edit button to edit address there is a modal will open this modal is before scripts tag below
         -->

        <main class="selectaddress-content-wrap container py-4">
            <div class="rounded-4 p-3 p-md-4">
                <!-- Steps Bar -->
                <ul class="nav justify-content-center mb-4 steps-progress">
                    <li class="nav-item success-checked">
                        <span class="step ">
                            المنتجات فى السلة
                        </span>
                        <i class="fas fa-check-circle"></i>
                    </li>
                    <li class="nav-item current-check">
                        <span class="step ">
                            العنوان
                        </span>
                        <i class="fas fa-2 number-style"></i>
                    </li>
                    <li class="nav-item">
                        <span class="step ">
                            طريقة الدفع
                        </span>
                        <i class="fas fa-3 number-style"></i>
                    </li>
                    <li class="nav-item">
                        <span class="step ">
                            اكتمال الطلب
                        </span>
                    </li>
                </ul>


                <!-- Select Address -->
                <section class="d-flex justify-content-between gap-1 align-items-center flex-wrap mb-3">
                    <h4 class="mb-0">اختيار العنوان</h4>
                    <a href="add-new-address.html" class="btn btn-secondary rounded-4">اضف عنوان جديد</a>
                </section>

                <!-- Addresses -->
                <ul class="list-unstyled">
                    <!-- Address One -->
                    <li class="mb-3 d-flex gap-1">
                        <!-- Select -->
                        <div class="form-check flex-shrink-0 pt-3">
                            <input class="form-check-input" type="radio" name="address" checked>
                        </div>

                        <div class="bg-white rounded-4 p-3 flex-grow-1">
                            <div class="row gy-2 g-0">
                                <div class="col-12">
                                    <p class="d-inline-block"><strong>الدولة: Palestine </strong></p>
                                    <div class="float-end">
                                        <i class="fas fa-star align-middle me-2"></i>
                                        <button class="btn btn-primary btn-sm rounded-4" data-bs-toggle="modal"
                                            data-bs-target="#editAddress">
                                            <i class="fas fa-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <p>المحافظة: Gaza</p>
                                    <p>رقم المنزل: 15585</p>
                                </div>
                                <div class="col-md">
                                    <p>المنطقة: Area1</p>
                                    <p>القطعة: avenue1</p>
                                </div>
                                <div class="col-md">
                                    <p>الجادة: block1</p>
                                    <p>نوع العنوان: منزل</p>
                                </div>
                                <div class="col-md">
                                    <p>الطريق: street</p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-0">
                                        <strong>اتجاهات اضافية:</strong> Near Al Amal Supermarket
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <!-- Address Two -->
                    <li class="mb-3 d-flex gap-1">
                        <!-- Select -->
                        <div class="form-check flex-shrink-0 pt-3">
                            <input class="form-check-input" type="radio" name="address">
                        </div>

                        <div class="bg-white rounded-4 p-3 flex-grow-1">
                            <div class="row gy-2 g-0">
                                <div class="col-12">
                                    <p class="d-inline-block"><strong>الدوله: Palestine </strong></p>
                                    <div class="float-end">

                                        <button class="btn btn-primary btn-sm rounded-4" data-bs-toggle="modal"
                                            data-bs-target="#editAddress">
                                            <i class="fas fa-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <p>المحافظة: Gaza</p>
                                    <p>رقم المنزل: 15585</p>
                                </div>
                                <div class="col-md">
                                    <p>المنطقة: Area1</p>
                                    <p>الجاده: avenue1</p>
                                </div>
                                <div class="col-md">
                                    <p>القطعه: block1</p>
                                    <p>نوع العنوان: منزل</p>
                                </div>
                                <div class="col-md">
                                    <p>الطريق: street</p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-0">
                                        <strong>اتجاهات اضافية:</strong> Near Al Amal Supermarket
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                    <!-- Address Three -->
                    <li class="mb-3 d-flex gap-1">
                        <!-- Select -->
                        <div class="form-check flex-shrink-0 pt-3">
                            <input class="form-check-input" type="radio" name="address">
                        </div>

                        <div class="bg-white rounded-4 p-3 flex-grow-1">
                            <div class="row gy-2 g-0">
                                <div class="col-12">
                                    <p class="d-inline-block"><strong>Country: Palestine </strong></p>
                                    <div class="float-end">

                                        <button class="btn btn-primary btn-sm rounded-4" data-bs-toggle="modal"
                                            data-bs-target="#editAddress">
                                            <i class="fas fa-pencil"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <p>Governorate: Gaza</p>
                                    <p>Home Number: 15585</p>
                                </div>
                                <div class="col-md">
                                    <p>Area: Area1</p>
                                    <p>Avenue: avenue1</p>
                                </div>
                                <div class="col-md">
                                    <p>Block: block1</p>
                                    <p>Housing type: House</p>
                                </div>
                                <div class="col-md">
                                    <p>Street: street</p>
                                </div>
                                <div class="col-12">
                                    <p class="mb-0">
                                        <strong>Additional direction:</strong> Near Al Amal Supermarket
                                    </p>
                                </div>
                            </div>
                        </div>

                    </li>
                </ul>


                <!-- Next Button -->
                <div class="mt-1 ms-4 ps-1">
                    <a href="select-payment.html" class="btn btn-primary rounded-4 px-4">
                        التالى
                    </a>
                </div>
            </div>
        </main>

    </div>

    <!-- Footer -->
    <footer class="pt-5">
        <!-- upper -->
        <div class="container">
            <div class="row g-4 pb-5">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <a href="index.html">
                        <img src="../../assets/img/logo.png" width="130" alt="bamboo logo">
                    </a>
                    <p class="my-4 lead display-omd">
                        نهتم بأدق التفاصيل والمكونات لأننا نسعى أن نحقق التوازن المثالي لكل إنسان " جسدًا وروحًا "
                    </p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="../../assets/img/social/black-instagram.png" width="25"
                                    alt="bamboo instagram">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <img src="../../assets/img/social/whatsapp.png" width="25" alt="bamboo whatsapp">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 offset-xl-1 col-md-6">
                    <ul class="nav flex-column footer-links">
                        <li class="nav-item">
                            <a class="nav-link text-capitalize" href="index.html">الرئيسية</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="about-us.html">من نحن</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="companies.html">الشركات</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="contact-us.html">تواصل معنا</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-black text-capitalize" href="join-us.html">انضم لنا</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-5 col-md-12">
                    <section>
                        <h5 class="mb-4">ارسل رساله الى Bamboo</h5>
                        <form>
                            <div class="mb-2">
                                <input type="text" name="email" class="form-control rounded-4 form-control-lg"
                                    placeholder="البريد الالكتروني">
                            </div>
                            <div class="d-flex flex-column flex-sm-row gap-3">
                                <textarea name="message" rows="3" class="form-control rounded-4 form-control-lg"
                                    style="resize: none;" placeholder="الرساله"></textarea>
                                <button type="submit"
                                    class="btn btn-primary display-omd flex-shrink-0 rounded-4 px-5">ارسل</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <!-- down -->
        <div class="bg-secondary text-white py-2 text-center text-md-start mb-5 mb-sm-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 display-sm">
                            جميع الحقوق محفوظة &copy; 2010-2022 الى شركه <strong>Bamboo</strong> S.L.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-end">
                            <div class="d-flex flex-column flex-sm-row justify-content-center justify-content-md-end">
                                <a href="tel:+9712589632589" class="me-sm-2 text-white display-sm" dir="ltr">+971
                                    258-963-2589</a>
                                <a href="mailto:bamboo@gmail.com"
                                    class="text-decoration-underline text-white display-sm">bamboo@gmail.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <!-- Update or Edit The selected address -->
    <!-- Modal -->
    <div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="editAddressLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content rounded-4 border-0">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="editAddressLabel">تعديل العنوان</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form>
                    <div class="modal-body py-0">
                        <div class="mb-3 wrap-input position-relative">
                            <label for="countryLabel" class="form-label">الدوله</label>

                            <select class="form-select custom-select" id="countryLabel" name="country">
                                <option value="palastine" selected>Palastine</option>
                                <option value="egypt">Egypt</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="governorateLabel" class="form-label">المحافظة</label>

                            <select class="form-select custom-select " name="governorate" id="governorateLabel">
                                <option value="gaza" selected>Gaza</option>
                                <option value="qods">Qods</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="areaLabel" class="form-label">المنطقة</label>
                            <select class="form-select custom-select " name="area" id="areaLabel">
                                <option value="area1" selected>Area 1</option>
                            </select>
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="blockLabel" class="form-label">القطعه</label>
                            <input type="text" name="block" id="blockLabel" class="form-control rounded-4"
                                value="Block1">
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="streetLabel" class="form-label">الطريق</label>
                            <input type="text" name="street" id="streetLabel" class="form-control rounded-4"
                                value="street1">
                        </div>
                        <div class="mb-3 wrap-input position-relative">
                            <label for="avenueLabel" class="form-label">الجاده</label>
                            <input type="text" name="avenue" id="avenueLabel" class="form-control rounded-4"
                                value="avenue1">
                        </div>

                        <div class="mb-3 wrap-input position-relative address-type-wrap">
                            <label for="addressTypeLabel" class="form-label">نوع العنوان</label>
                            <select class="form-select custom-select" name="addressType" id="addressTypeLabel">
                                <!-- Dont change value becuse I used it in javascript -->
                                <option value="house">منزل</option>
                                <option value="apartment">بيت</option>
                                <option value="office">مكتب</option>
                            </select>
                        </div>

                        <!-- This div, innerHTML comes from javascript ! dont change class name -->
                        <div class="toggled-inputs"></div>

                        <div class="mb-3 wrap-input position-relative">
                            <label for="addationalDircetionLabel" class="form-label">اتجاهات اضافية</label>
                            <input type="text" name="addationalDircetion" id="addationalDircetionLabel"
                                class="form-control rounded-4" value="Near Al Amal Supermarket">
                        </div>
                    </div>


                    <!-- Submit Button -->

                    <div class="modal-footer border-top-0 justify-content-center">
                        <button type="submit" class="btn btn-primary rounded-4 px-4">حفظ</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!-- Scripts -->
    <!-- !Note: Bootstrap doesnt depend on jquery -->
    <script src="../../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../../js/libs/select2.min.js"></script>
    <script src="../../js/app.js"></script>
</body>

</html>
